@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-cont {
    height: 100vh;
}

.img {
    height: 190px;
    width: 160px;
}

.img-22 {
    height: 29px;
    width: 25px;
}

.head {
    font-size: 25px;
    font-family: "Roboto";
    font-weight: 300;
}

.para-1 {

    font-family: "Roboto";
    font-weight: 100;
}

.biohead {
    font-size: 25px;
    font-family: "Roboto";
    font-weight: 300;
    padding: 5px;
}

.para-2 {
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 100;
    padding: 5px;
}